name: Tweet New Entries

on:
  push:
    branches:
    - main
    - action
    - ci

jobs:
  tweet:
    name: Tweet new entries
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        # Fetch all history to ensure the action can access the commit message
        fetch-depth: '0'
    - name: Send Tweet if requested in commit message
      uses: ./.github/actions/tweet-commit
      with:
        trigger_keyword: TweetMe!
        twitter_consumer_key: "${{ secrets.twitter_consumer_key }}"
        twitter_consumer_secret: "${{ secrets.twitter_consumer_secret }}"
        twitter_access_token: "${{ secrets.twitter_access_token }}"
        twitter_access_token_secret: "${{ secrets.twitter_access_token_secret }}"
        bluesky_username: "${{ secrets.bluesky_username }}"
        bluesky_token: "${{ secrets.bluesky_token }}"
